
/*------------------------------------------------------------------------------------*/

BODY
{
  background:                           url("../img/stripes.png");  
  margin:                               auto auto;
  max-width:                            860px;
  min-width:                            860px;
  font-family:                          "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:                            13px;
  font-weight:                          bold;
  text-align:                           center;
}

*
{
    margin:                             0;
    padding:                            0;
    outline-style:                      none;
}                                       
                                        
* A:hover                               
{                                       
  color:                                #EEAA22;
}                                       
                                        
A                                       
{                                       
  color:                                #BBBBBB;
  text-decoration:                      none;
  cursor:                               pointer;
}

A#gitorious IMG
{
  height:                               45px; 
  width:                                136px; 
  background:                           url(../img/gitorious.png) center center no-repeat;
}

A#gitorious:hover IMG
{
  height:                               51px; 
  width:                                180px;
  background:                           url(../img/gitorious_big.png) center center no-repeat;
}
                                        
H1, H2, H3, .boxtitle                   
{                                       
  text-shadow:                          0px 1px 2px rgba(0, 0, 0, 0.5);
}                                       
                                        
H1                                      
{                                       
  color:                                rgb(170,170,170);
  font-size:                            16px;
}                                       
                                        
H2                                      
{                                       
  color:                                rgb(170,170,170);
  font-size:                            15px;
}

H1, H2, H3
{
  padding-bottom:                       20px;  
}

IMG
{
  border-width:                         0;
}

::selection       { background:         rgba(10,10,10,0.1); }
::-moz-selection  { background          rgba(10,10,10,0.1); }

/*------------------------------------------------------------------------------------*/

.maintitle
{
  background:                           rgb(120, 120, 120);
                                        
  border-bottom:                        1px solid rgba(0,0,0,0.5);  
  border-left:                          1px solid rgba(0,0,0,0.5);  
  border-right:                         1px solid rgba(0,0,0,0.5);  
                                        
  -moz-box-shadow:                      1px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow:                   1px 2px 2px rgba(0, 0, 0, 0.25);
    
  -webkit-border-bottom-left-radius:    9px;
  -webkit-border-bottom-right-radius:   9px;
  -moz-border-radius-bottomleft:        9px;  
  -moz-border-radius-bottomright:       9px;
  border-bottom-right-radius:           9px;  
  border-bottom-left-radius:            9px;  
  
  width:                                300px;
  height:                               40px;
  padding-top:                          4px;
  padding-bottom:                       6px;
                                        
  position:                             relative;
  top:                                  -1px;
}

.maintitle_icon
{
  position:                             relative; 
  top:                                  -33px; 
  margin-right:                         4px;
}

.maintitle_name
{
  position:                             relative; 
  top:                                  -27px;
}

/*------------------------------------------------------------------------------------*/

.main
{
  -moz-border-radius:                   16px;
  -webkit-border-radius:                16px; 
                                        
  -moz-box-shadow:                      2px 2px 16px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow:                   2px 2px 16px rgba(0, 0, 0, 0.8);
                                        
  background:                           rgb(100,100,100);
  background-image: -webkit-gradient(
                                        linear,
                                        left bottom,
                                        left top,
                                        color-stop(0,   rgb(60,  60, 60)),
                                        color-stop(0.2, rgb(100,100,100)),
                                        color-stop(0.8, rgb(100,100,100)),
                                        color-stop(1,   rgb(120,120,120)));
  background-image: -moz-linear-gradient(
                                        center bottom,
                                        rgb( 60, 60, 60)   0%,
                                        rgb(100,100,100)  20%,
                                        rgb(100,100,100)  80%,
                                        rgb(120,120,120) 100%);
      
  margin-top:                           40px;
  margin-bottom:                        40px;
  padding:                              40px;
}

/*------------------------------------------------------------------------------------*/

.box
{
  position: relative;

  -webkit-box-shadow:                   1px 1px 5px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow:                      1px 1px 5px rgba(0, 0, 0, 0.25) inset;
                                        
  border:                               1px solid rgba(0,0,0,0.5);
  
  -webkit-border-radius:                19px;
  -moz-border-radius:                   19px; 
  border-radius:                        19px; 
                                        
  background:                           rgb(110, 110, 110);
  background-image: -moz-linear-gradient(
                                        center top,
                                        rgb(110, 110, 110), 
                                        rgb(120, 120, 120));
  background-image: -webkit-gradient(
                                        linear, 
                                        center top, 
                                        center bottom, 
                                        from(rgb(110, 110, 110)), 
                                        to(rgb(120, 120, 120)));
    
  margin-bottom:                        30px;
  padding:                              20px 0px 60px 0px;  
}

